*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #15171C;
}

.navbar{
    display: flex;
    padding: 10px 20px;
    background-color: #15171C;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
}
.logo{
    position: absolute;
    left: 10px;
    top: 10px;

}
.logo img{
    width: 140px;
}
.nav-links{
    display: flex;
    list-style: none;
    position: absolute;
    right: 660px;
    gap: 60px;
}
.nav-links a{
    text-decoration: none;
    color: rgb(206, 200, 200);
    font-weight: 600;
    font-size: 18px;
    top: 25px;
}
.location{
    color: white;
    position: absolute;
    right: 240px;
    font-size: 14px;
    font-weight: 500;
    list-style: none;

    padding: 0px;
}
.loc1{
    margin-right: 10px;
    width: 40px;
    margin-top: 10px;
}
.loc{
    margin-top: -30px;
}
.button{
    position: absolute;
    right: 50px;
    padding: 10px 18px;
    background-color: #15171C;
    border: 2px solid white;
    color: rgb(243, 241, 241);
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    right: 140px;
}
.account-icon{
    position: absolute;
    right: 75px;
    width: 45px;
    top: 12px;
}
.cart-icon{
    position: absolute;
    right: 15px;
    width: 55px;
    top: 10px;
}
.discount{
    max-width: 1515px;
}
.discount img{
    width: 100%;
    height: 450px;
}
.part2{
    position: absolute;
    margin-top: -7px;
    background-color: #15171C;
    width: 1515px;
    height: 600px;
}
.features{
    width: 650px;
    top: 100px;
    margin-top: 40px;
    position: absolute;
    left: 440px;
}
.part3 {
    padding: 3px;
    position: absolute;
    width: 1000px;
    height: 600px;
    background-color: #15171C;
    top: 900px;
    left: 150px;
} 
.scroll{
    display: flex;
    width: 1270px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;

}
.scroll img {
    min-width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 5px;
    position: relative;
}
.part3 p{
    color: rgb(157, 157, 157);
    font-size: 14px;
    position: absolute;
    left: 470px;
}
.part4{
    max-width: 1515px;
}
.part4 img{
    width: 100%;
    height: 400px;
}
.part5{
    position: absolute;
    margin-top: -7px;
    background-color: #15171C;
    width: 1515px;
    height: 600px;
}
.features1{
    width: 650px;
    top: 100px;
    margin-top: 40px;
    position: absolute;
    left: 440px;
}
.part6{
    padding: 3px;
    position: absolute;
    width: 1000px;
    height: 600px;
    background-color: #15171C;
    top: 900px;
    left: 150px;
} 
.scroll1{
    display: flex;
    width: 1270px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;

}
.scroll1 img {
    min-width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 5px;
    position: relative;
}
.part6 p{
    color: rgb(157, 157, 157);
    font-size: 14px;
    position: absolute;
    left: 470px;
}