*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #15171C;
}

/* NAVBAR */

.navbar{
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 35px;

    background: rgba(21, 23, 28, 0.85);

    backdrop-filter: blur(8px);

    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo img{
    width: 150px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 65px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a{
    text-decoration: none;
    color: #bdbdbd;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover{
    color: white;
}

.right-section{
    display: flex;
    align-items: center;
    gap: 28px;
}

.location{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d4d4d4;
    font-size: 15px;
    font-weight: 500;
}

.loc1{
    width: 18px;
}

.button{
    padding: 12px 24px;

    border: 1.5px solid white;
    border-radius: 10px;

    background: transparent;
    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: black;
}

.account-icon,
.cart-icon{
    width: 28px;
    cursor: pointer;
}

/* HERO */

.discount{
    margin-top: 75px;
}

.discount img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* FEATURES */

.part2{
    padding: 80px 0;
    text-align: center;
}

.features{
    width: 650px;
}

/* SCROLL SECTION */

.part3{
    width: 100%;
    padding: 40px 0;
}

.scroll{
    display: flex;
    width: 90%;
    margin: auto;

    overflow-x: auto;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar{
    display: none;
}

.scroll img{
    min-width: 400px;
    height: 450px;

    border-radius: 20px;
    padding: 5px;
}

.part3 p{
    color: rgb(157, 157, 157);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

/* CULT FAVORITES */

.part4 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* SECOND FEATURES */

.part5{
    padding: 80px 0;
    text-align: center;
}

.features1{
    width: 650px;
}

/* SECOND SCROLL */

.part6{
    width: 100%;
    padding: 40px 0;
}

.scroll1{
    display: flex;
    width: 90%;
    margin: auto;

    overflow-x: auto;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll1::-webkit-scrollbar{
    display: none;
}

.scroll1 img{
    min-width: 400px;
    height: 450px;

    border-radius: 20px;
    padding: 5px;
}

/* RELATED SEARCHES */

.related-searches{
    background-color: #0b0f17;
    padding: 70px 40px;
}

.related-searches h2{
    color: #8f8f8f;
    font-size: 22px;
    margin-bottom: 35px;
    font-weight: 600;
}

.search-columns{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.search-col{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.search-col a{
    text-decoration: none;
    color: #9d9d9d;
    font-size: 18px;
    transition: 0.3s;
}

.search-col a:hover{
    color: white;
}

/* FOOTER */

.footer{
    background-color: black;
    color: white;

    width: 100%;

    padding: 80px 70px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left{
    width: 330px;
}

.footer-logo{
    width: 200px;
    margin-bottom: 40px;
}

.footer-left p{
    color: #b8b8b8;
    font-size: 18px;
    line-height: 1.7;
}

.footer-links{
    display: flex;
    gap: 100px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.column a{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 18px;
    transition: 0.3s;
}

.column a:hover{
    color: white;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.store-btn{
    width: 240px;
    cursor: pointer;
}

.socials{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.socials img{
    width: 45px;
    height: 45px;
    cursor: pointer;
}